VITE_SUPABASE_URL=https://qeqtorgpifgorhoncjsi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlcXRvcmdwaWZnb3Job25janNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMjU2NzEsImV4cCI6MjA5NDYwMTY3MX0.b9iKWUaOympRLBHw6ZANAChP5QSFPd7AJecrXsMcbys